html,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.9;
}  
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.header {
    width: 100%;
    height: 25%;
}

.descp-box {
    font-size: 12px;
    letter-spacing: 4px;
    float: right;
    background: #ffffff;
    opacity: 40%;
    width: 300px;
    border-radius: 0 0 10px 10px;
    margin-right: 24px;
    padding: 16px;
}

.overlay {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1px;
    font-size: 1.2rem;
    padding-top: 0.5%;
}

.form-range {
    width: 100%;
}

.slidecontainer {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    margin-bottom: 16px;
    width: 100%;
    height: 16px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    cursor: pointer;
    border-radius: 20px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: white;
    cursor: pointer;
    border-radius: 20px;
}

.footer {
    position: absolute;
    bottom: 1%;
    width: 100%;
    height: 15%;
}

.slider-value {
    position: relative;
    height: 70px;
}

.slider-value-box {
    height: 100%;
    width: 12%;
    position: relative;
    background: gray;
    border-radius: 10px;
}

.slider-value-box:hover {
    background: white;
}